<!DOCTYPE html>
<html>
    <head>
        <style>
        body{
            font-size: 11px ;
            font-family: Arial, Helvetica, sans-serif;
        }

        table.bordered thead tr th,
        table.bordered tbody tr td{
            border: 1px solid black;
            padding: 2px;

        }
        table.bordered{
            border-spacing: 0px;
            border-collapse: collapse;
        }
        </style>
    </head>
    <body> 
        <table width="100%">
            <tbody>
                <tr>
                    <td align="center">
                        <svg id="barcode"
                            jsbarcode-width="2"
                            jsbarcode-height="60"
                            jsbarcode-fontSize="12"
                            jsbarcode-value= <%=databuku.barcode %>
                            jsbarcode-textmargin="0"
                            jsbarcode-fontoptions="bold"
                        >
                    </td>
                    <td align="center">
                        <svg id="barcode"
                            jsbarcode-width="2"
                            jsbarcode-height="60"
                            jsbarcode-fontSize="12"
                            jsbarcode-value= <%=databuku.barcode %>
                            jsbarcode-textmargin="0"
                            jsbarcode-fontoptions="bold"
                        >
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <svg id="barcode"
                            jsbarcode-width="2"
                            jsbarcode-height="60"
                            jsbarcode-fontSize="12"
                            jsbarcode-value= <%=databuku.barcode %>
                            jsbarcode-textmargin="0"
                            jsbarcode-fontoptions="bold"
                        >
                    </td>
                    <td align="center">
                        <svg id="barcode"
                            jsbarcode-width="2"
                            jsbarcode-height="60"
                            jsbarcode-fontSize="12"
                            jsbarcode-value= <%=databuku.barcode %>
                            jsbarcode-textmargin="0"
                            jsbarcode-fontoptions="bold"
                        >
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <svg id="barcode"
                            jsbarcode-width="2"
                            jsbarcode-height="60"
                            jsbarcode-fontSize="12"
                            jsbarcode-value= <%=databuku.barcode %>
                            jsbarcode-textmargin="0"
                            jsbarcode-fontoptions="bold"
                        >
                    </td>
                    <td align="center">
                        <svg id="barcode"
                            jsbarcode-width="2"
                            jsbarcode-height="60"
                            jsbarcode-fontSize="12"
                            jsbarcode-value= <%=databuku.barcode %>
                            jsbarcode-textmargin="0"
                            jsbarcode-fontoptions="bold"
                        >
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <svg id="barcode"
                            jsbarcode-width="2"
                            jsbarcode-height="60"
                            jsbarcode-fontSize="12"
                            jsbarcode-value= <%=databuku.barcode %>
                            jsbarcode-textmargin="0"
                            jsbarcode-fontoptions="bold"
                        >
                    </td>
                    <td align="center">
                        <svg id="barcode"
                            jsbarcode-width="2"
                            jsbarcode-height="60"
                            jsbarcode-fontSize="12"
                            jsbarcode-value= <%=databuku.barcode %>
                            jsbarcode-textmargin="0"
                            jsbarcode-fontoptions="bold"
                        >
                    </td>
                </tr>
            </tbody>
        </table>
        

        </svg>
    </body>
</html>
<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.3/dist/JsBarcode.all.min.js"></script>
<script>
    JsBarcode("#barcode").init();
</script>