<!DOCTYPE html>
<html>
    <head>
        <style>
        body{
            font-size: 10px ;
            font-family: Arial, Helvetica, sans-serif;
        }
        table {
            border-collapse: collapse;
        }
        /* table, th, td {
            border: 1px solid black;
        } */

        table.bordered thead tr th,
        table.bordered tbody tr td{
            border: 1px solid black;
            padding: 2px;

        }
        table.bordered{
            border-spacing: 0px;
            border-collapse: collapse;
        }
        </style>
    </head>
    <body>
        <table width="100%" style="margin-bottom: 10px;" >
            <tbody>
                <tr>
                    <td rowspan="2" width="30%" align="center">
                        <img src="http://localhost:1337/images/icon.png" width="auto" height="70px" />
                    </td>
                    <td valign="center" width="70%">
                        <div>
                            <span style="font-size: 16px; font-weight: 900;">SMA BARUNAWATI SURABAYA</span>
                            <div>
                                <span style="font-size: 11px;">Terakreditasi ‘A’  NSS 304056009170  NDS  3005300203  NPSN  20532377</span> <br />
                                Jl. Tanjung Perak Barat 173, Telp, 031-3295548, Fax 031-3294024  Surabaya - 60165 <br />
                                <span style="color:#0080c0">https://smabarunawati-sby.sch.id/  E-mail : info@ smabarunawati-sby.sch.id/</span> 
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="padding:0px 8%">
            <hr style="border-top: 2px solid #000; margin-bottom:20px"/>
        </div>
        <div style="text-align: center; margin-bottom:20px;">
            <span style="font-size: 13px;">Laporan Pengembalian Terlambat</span><br />
            <span style="font-size: 13px;">Perpustakaan SMA Barunawati Surabaya</span><br/>
        </div>       
        <table width="100%" class="bordered"> 
        <thead>
            <tr>
                <th>No</th>
                <th width="20%"><b>Nama</b></th>
                <th width="13%"><b>Pinjam</b></th>
                <th width="13%"><b>Tgl Jatuh Tempo</b></th>
                <th width="10%"><b>Kelas</b></th>
                <th><b>Judul Buku - Barcode</b></th>
                <th width="10%"><b>Hari Terlambat</b></th>
            </tr>
        </thead>
        <tbody>
            <% if (dtPjm.length > 0) { %>
                <% dtPjm.forEach((reportdata, idx) => {%>
                    <tr>
                        <td><%=idx+1%></td>
                        <td><%= reportdata.siswa.nama %></td>
                        <td align="center"><%= reportdata.tglPinjam %></td>
                        <td align="center"><%= reportdata.jatuhTempo %></td>
                        <td align="center"><%= reportdata.siswa.kelas %></td>
                        <td>
                            <% if (reportdata.bookList.length>0) { %>
                                <% reportdata.bookList.forEach((bl, blidx) => {%>
                                    <div><%=blidx+1%>. &nbsp; <%=bl.buku.judul%> - <%=bl.buku.barcode%></div>
                                <%  });%>
                            <% } %>
                        </td>
                        <td align="center"><%= reportdata.hariTerlambat %></td>
                    </tr>
                <%  });%>
            <% }%>
        </tbody>
        </table>
    </body>
</html>