<!DOCTYPE html>
<html>
    <head>
        <style>
        body{
            font-size: 10px ;
            font-family: Arial, Helvetica, sans-serif;
        }
        table {
            border-collapse: collapse;
        }
        /* table, th, td {
            border: 1px solid black;
        } */

        table.bordered thead tr th,
        table.bordered tbody tr td{
            border: 1px solid black;
            padding: 2px;

        }
        table.bordered{
            border-spacing: 0px;
            border-collapse: collapse;
        }
        </style>
    </head>
    <body> 
        <table width="100%" style="margin-bottom: 10px;" >
            <tbody>
                <tr>
                    <td rowspan="2" width="30%" align="center">
                        <img src="http://localhost:1337/images/icon.png" width="auto" height="70px" />
                    </td>
                    <td valign="center" width="70%">
                        <div>
                            <span style="font-size: 16px; font-weight: 900;">SMA BARUNAWATI SURABAYA</span>
                            <div>
                                <span style="font-size: 11px;">Terakreditasi ‘A’  NSS 304056009170  NDS  3005300203  NPSN  20532377</span> <br />
                                Jl. Tanjung Perak Barat 173, Telp, 031-3295548, Fax 031-3294024  Surabaya - 60165 <br />
                                <span style="color:#0080c0">https://smabarunawati-sby.sch.id/  E-mail : info@ smabarunawati-sby.sch.id/</span> 
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="padding:0px 8%">
            <hr style="border-top: 2px solid #000; margin-bottom:20px"/>
        </div>
        <div style="text-align: center;">
            <span style="font-size: 13px;">Laporan Kunjungan Perpustakaan</span><br />
            <span style="font-size: 13px;">SMA Barunawati Surabaya</span><br/>
        </div>  
        <div style="margin:8px; text-align: center;">
            <span style="font-size: 12px;">Periode : <%=periode%></span><br/>
        </div>        
        <table width="100%" class="bordered"> 
        <thead>
            <tr>
                <th>No</th>
                <th width="18%">Tanggal</th>
                <th width="40%">Nama</th>
                <th width="10%">Kelas</th>
                <th>Keperluan</th>
            </tr>
        </thead>
        <tbody>
            <% if (datarpt.length > 0) { %>
                <% datarpt.forEach((reportdata, idx) => {%>
                    <tr>
                        <td><%=idx+1%></td>
                        <td><%= reportdata.tanggal %></td>
                        <td><%= reportdata.siswa_id.nama %></td>
                        <td><%= reportdata.siswa_id.kelas %></td>
                        <td><%=reportdata.keperluan %></td>
                    </tr>
                <%  });%>
            <% }%>
        </tbody>
        </table>
    </body>
</html>